.menubar-container {
  width: 100%;
  position: relative;
}

.menu {
  width: 100%;
}

.menubar-bg-image{
  width: 100%;
  overflow: hidden;
}

.menubar-bg-image img{
  width: 100%;
  min-height: 200px;
}

.menu-mobile{
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  padding: 10px 20px;
  background: white;
}

.menubar-dropDownMenu{
  background: white;
  max-height: 0px;
  transition: 0.2s ease;
  overflow: hidden;
}

.menubar-dropDownMenu.expanded{
  margin-top: 20px;
  max-height: 500px;
}

.menubar-dropDownMenu p.selected{
  color: #1890ff;
}

@media only screen and (max-width: 853px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: inline;
  }
}