.menubar-container {
  width: '100%';
  height: 430px;
  position: relative;
  overflow: hidden;
}

.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-mobile{
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  padding: 10px 20px;
  background: white;
}

.menubar-background-img {
  position: absolute;
  width: '100%';
  height: '100%';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.menubar-dropDownMenu{
  background: white;
  max-height: 0px;
  transition: 0.2s ease;
  overflow: hidden;
}

.menubar-dropDownMenu.expanded{
  margin-top: 20px;
  max-height: 500px;
}

.menubar-dropDownMenu p.selected{
  color: #1890ff;
}

@media only screen and (max-width: 620px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: inline;
  }
}