.template-container {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}

.template-container label {
  color: #bbb;
  font-weight: 500;
  margin: 5px 0;
  display: block;
}

.template-container h1 {
  font-size: 20px;
}

.template-editBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.template-txt {
  white-space: pre-line;
}

.template-img {
  position: relative;
  width: 100px;
  min-height: 80px;
}

.template-img img{
  width: 100%;
  margin-top: 5px;
  border-radius: 3px;
  overflow: hidden;
}